
Jogo_Mobile/Library/ArtifactDB
Jogo_Mobile/Library/ArtifactDB
Jogo_Mobile/Library/ArtifactDB
Jogo_Mobile/Library/ScriptAssemblies/Assembly-CSharp.dll
Jogo_Mobile/Library/ScriptAssemblies/Assembly-CSharp.pdb
